/* header styling */
header {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr ;
  grid-template-areas:
  "logo-buurtcampus-plantswap" 
}
header>img{
  max-width: 100%;
  height: auto;
  place-self: center;
  background-color: rgb(255, 255, 255);
  grid-area: logo-buurtcampus-plantswap;
}

/* main styling */
h1{
  color: rgb(49, 39, 113);
  background-color: rgb(255, 255, 255);
  text-align: center;
}


/* styling box buurtbewoners*/

.box-buurtbewoners {
  padding: 10px;
  background-color: rgba(35, 178, 47, 0.5);
  }

h2{
  text-align: center;
  }

.carousel-tips-buurtbewoners {
  background-color:rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  overflow: scroll;
  }

.slides {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;  
  width: 60rem; 
}

.slides-item {/* checken: welke info in .slides-item of .slides */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:1fr;
  grid-template-areas:
  "tip-foto-buurtbewoner";
  border-radius: 10px;
  margin: 10px;
  font-size: 1rem;   
  padding: 15px;
  text-align: left;
}

.slides-item p, .slides-item img{
  grid-area: tip-foto-buurtbewoner;
}

.slides-item p{
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  place-self: start center;
  border-radius: 10px;
  padding: 5%;
}

.slides-item img{
  border-radius: 10px;
  max-width: 100%;
}

/* footer styling */
footer img {
  max-width: 100%;
  height: auto;
  align-self: center;
  background-color: rgb(255, 255, 255); 
}


/* media queries voor breakpoints */

@media screen and (min-width: 400px) {
  .carousel-tips-buurtbewoners {
    background-color: red; /*tijdelijke kleur als voorbeeld*/
  }
}

@media screen and (min-width: 800px) {
  .carousel-tips-buurtbewoners {
    background-color: rgb(255, 0, 242);/*tijdelijke kleur als voorbeeld*/
  }
}

/* styling "plant verzorgtips buurtbewoners" */ 
.box-buurtbewoners {
    padding: 10px;
    background-color: rgba(35, 178, 47, 0.5);
 }

/*  styling "kom langs bij ObA" */ 
 .box-kom-langs-bij-oba {
    padding: 10px;
 }

 
/* styling "vind jouw plant" */ 
 .box-vind-jouw-plant {
    padding: 10px;
    background-color:rgba(35, 178, 47, 0.5);
 }
