/* -------- header styling -------------*/
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr ;
    grid-template-areas: 
    "buurtcampus-logo buurtcampus-footer"
    "stekjesbieb-logo buurtcampus-footer"
}

#buurtcampus-logo {
    max-width: 100%;
    height: auto;
    place-self: center;
    background-color: rgb(255, 255, 255);
    grid-area: buurtcampus-logo;
}

#stekjesbieb-logo {
    max-width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    grid-area: stekjesbieb-logo;
}

#buurtcampus-footer{
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    grid-area: buurtcampus-footer;
}

/* eventueel nav menu onder stekjesbieb logo?*/

/*.main-menu {border-bottom: 1px solid black;}
.main-menu ol {list-style-type: none; padding-left: 0;}
.main-menu-item {display: inline-block;}
.main-menu-item a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}*/


/*----------------main styling ----------------------*/
h1{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

h2{
    text-align: center;
}


/* ------------carousel buurtbewoner tips------------ */

.carousel-tips-buurtbewoners {
    background-color:rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: left;
  }

  @media screen and (min-width: 400px) {
    .carousel-tips-buurtbewoners {
      background-color: red;
    }
  }
  
.slides {
/* display grid? display flex? in .slides of in .slides-item?*/

  /*display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "tip-foto-buurtbewoner";
    font-size: 1rem;
    padding: 15px;*/
    /* ----flexbox nodig of grid?---
    display: flex;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    text-align: left;*/
  }
  
.slides-item {
/* ---grid hier nodig of in .slides?---*/
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "tip-foto-buurtbewoner";
    font-size: 1rem;
    padding: 15px;
  }

.slides-item p, .slides-item img{
    grid-area: tip-foto-buurtbewoner;
}

.slides-item p{
    background-color: rgba(255, 255, 255, 0.5);
/* ik wil dat margin responsive is met text/screensize*/
    overflow: hidden;
    place-self: start center;
}
  
.slides-item img{
    /* ik wil dat box rondom img randje zichtbaar is*/
    max-width: 100%;
}













/* ---- navigatie van carousel, later nodig?----
  .carousel__nav {
    padding: 1.25rem .5rem;
  }
    .slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
  }
    .slider-nav:hover,
  .slider-nav:active {
    background-color: #000;
    color: #fff;
  }
*/





/* ----- styling section "plant verzorgtips buurtbewoners" -----*/ 
.box-buurtbewoners {
    padding: 10px;
    background-color: rgba(35, 178, 47, 0.5);

 }
/* ----- styling section "kom langs bij ObA" -----*/ 
 .box-kom-langs-bij-oba {
    padding: 10px;
 }
/* ----- styling section "vind jouw plant" -----*/ 
 .box-vind-jouw-plant {
    padding: 10px;
    background-color:rgba(35, 178, 47, 0.5);
 }
